@import '../../scss/variables';
@import '../../scss/mixins';

.board-tasks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
  background: $milk-2;
  height: 300px;
  overflow-y: scroll;

  &__items {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__description {
    word-wrap: break-word;
  }
}
