.button {
  padding: 12px 15px;
  width: 86px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  background-color: #4B51EF;
  border: none;
  border-radius: 9px;
}
.button:active {
  transform: scale(1.1);
}
.button:hover {
  transform: scale(1.1);
}
.button-goto {
  width: 120px;
}